<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>back</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body bgcolor="#f8f9fa">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Get Recognised</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin_controls">Admin Controls</a>
              </li>
            </ul>
            <a class="nav-link active" aria-current="page" href="https://github.com/ML10-Project/Face-Recognition">Github Project Link</a>
          </div>
        </div>
      </nav>
<h2><p style="color: black; text-align: center;">Hey, there! Look into your webcam.</p></h2>
<center><img src="{{url_for('video_feed')}}"></center>
<form style="text-align: center;">
<input style="font-size: x-large;" type ="button" value="End" onclick="history.back()">
</form>
</body>
</html>
