<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta charset="UTF-8">

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="../static/dashboard.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Dashboard</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">

          <a class="navbar-brand" href="/">Get Recognised</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">

                <a class="nav-link active" aria-current="page" href="/login">Admin Controls</a>

              </li>

            </ul>

            <a class="nav-link active" aria-current="page" href="https://github.com/ML10-Project/Face-Recognition">Github Project Link</a>

          </div>

        </div>

      </nav>



    <h1>Upload An Image</h1>



<form  action="/uploader" method="post" enctype="multipart/form-data">

    <div class="input-group">

        <span class="input-group-text" name=>First and last name</span>

        <input type="text" aria-label="First name" name="fname" placeholder="First Name" class="form-control">

        <input type="text" aria-label="Last name" name="lname" placeholder="Last Name" class="form-control">

      </div>

    <!-- <label for="name" name='name'>Name of person in the image</label> -->

    <!-- <input type="text" name="name" id="name"> -->

    <br>

    <!-- <input class=''  type="file" name="file1"> -->

    <div class="input-group">

        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file1">

        <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button> -->

      </div>

      <br>

    <button class='btn btn-primary' type="submit">Upload</button>

    &nbsp; &nbsp; &nbsp;


<a href="/logout" class="btn btn-primary">Logout</a>
</form>

</body>

</html>

